*.o
*.class
*.swp
*.bak
*.tmp
Thumbs.db
.buildpath
.project
.settings
.metadata
RemoteSystemsTempFiles
nbproject
.git
.svn
.zfproject.xml
.classpath
target
.idea
*.iml
*.log
bin/
data/
*.csv
cache/
packagedir/